h1 {
    color:#FF6347;
    font-size: 64px;
    font-family: "Brush Script MT", sans-serif;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
    color:#FF6347;
    font-family: "Lucida Handwriting", sans-serif;
}